.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: black;
    text-shadow:rgb(109, 118, 127) 2px 2px; 
}