.cardProducto {
    background-color: grey;
    border-radius: 10px;
    width: 15rem;
    padding: 3rem;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    color: rgb(231, 25, 25);
}

h3  {
    color: rgb(233, 34, 34);
}

p {
    color: rgb(224, 22, 22);
}

.btnProducto {
    background-color: #b52424;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}