*{
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: rgb(109, 118, 127);
}


.letra{
    margin: 5px;
    cursor: pointer;
    color: rgb(239, 242, 242);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
li {
    display:inline-block ;
    margin: 1rem;
    cursor: pointer;
}

.Logo {
    width: 150px;
    object-fit: contain;
}


