.Counter { display: flex;
       flex-direction: column;

}

.Controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 3rem;
}

.Button {
    background-color: #b52424;
    color: white;
    font-size: 1.2rem;
    width: 4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ButtonAgregar {
    background-color: #b52424;
    color: white;
    font-size: 1.2rem;
    width: 15rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}